@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #7c3aed;
  --color-bg-light: #ffffff;
  --color-bg-dark: #111827;
  --color-text-light: #1f2937;
  --color-text-dark: #f3f4f6;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-bg-light dark:bg-bg-dark text-text-light dark:text-text-dark transition-colors duration-300;
  }
}